.home-btn {
    color: #fff;
    display: inline-flex;
    float: left;
    font-size: 18px;
    height: 40px;
    width: 40px;
    background: #3d5ee1;
    justify-content: center;
    padding: 0 12px;
    border-radius: 10px;
    position: absolute;
    z-index: 99;
    top: 10px;
    box-shadow: 0 0 35px rgba(61, 47, 146, .1);
    align-items: center;
}
.login-wrapper .loginbox .login-left{
    display: block !important;
}
.home-btn:hover{
    color: #fff;
}
.search-form {
    margin-left: 50px;
}